
body {
  color: #333333;
  font-family: Georgia, Serif;
  font-size: 1.5em;
  padding: 2em 0 1em 3em;
}

#my-name {
  line-height: 0.3em;
}

#my-motto {
  padding: 0 0 2em 5em;
}

nav img {
    vertical-align: top;
    display:  block;
    float: left;
    margin: 0.3em;
    border-radius: 10%;
}