
main {
  color: #636268;
  font-family: Georgia, Serif;
  font-size: 1.3em;
  padding: 2em;
}

h1, h2, h3 {
  color: #333333;
}

#my-name {
  line-height: 0.3em;
}
#my-motto {
  padding: 0 0 2em 5em;
}


/* Fade in/out for blog articles and entire sections. */
section, #blog-post {
  opacity: 0;
  height: 0;
  overflow: hidden;

  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-out;
}
section.showing, #blog-post.showing {
    opacity: 1;
    height: auto;
}


/* Give nice appearance to all the social imagey-links to LinkedIn et al. */
#social-links img {
  vertical-align: top;
  display:  block;
  float: left;
  margin: 0.3em;
  border-radius: 10%;

  box-shadow: 3px 1px 1px black;

  -webkit-transition: box-shadow 0.2s ease-in-out;
  -moz-transition: box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out;
  -ms-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
}
#social-links img:hover {
  border: 0.05em outset #333333;
  box-shadow: 10px 5px 5px black;
}
#social-links img:active {
  border: 0.1em outset #222222;
  box-shadow: inset 0.2em 0 0 0.2em #27496d, inset 0 0.5em 1em #193047;
}


/* Give nice appearance to all anchor tags. */
a {
  color: black;
  font-weight: 500;
  font-size: 1.03em;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


/* Blog navigation and blog article specific stuff. */
#blog-navigation a:visited {
  color: #bebcb9;
}
#blog-back-links span {
  display: none;
  font-size: 0.777em;
  opacity: 0.6;
  cursor: pointer;
}
#blog-back-links span.showing {
  display: inline;
}
#btn-back-to-post-links {
  margin-left: 1em;
}
#blog-post {
  max-width: 45em;
}


/* Settings for specific blog posts. */
#blog-post #blog-post-on-go {
  font-family:Arial,sans-serif;
}
#blog-post #blog-post-on-go li {
  font-weight: bold;
}
